@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partner-scroll {
  animation: scrollRight 25s linear infinite;
}

.partner-scroll:hover {
  animation-play-state: paused;
}